<!DOCTYPE html>
<html>

<head>
  <title>US VISITORS</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="vis-body">
        <nav class="navbar navbar-dark bg-dark">
                <a href="/peoples">HOME</a>
              </nav>
             

<div class="visitors-body">
        <div class="text">
                
                
            <form action="/visitors" method="POST">
                <div class="one">
                 
            <input required class="title" type="text" name="title" placeholder="Title:">
                  
                </div>
                <br>
                <div class="tow">
                <label>
            <textarea required name="content" id="textarea" cols="50" rows="5">post:</textarea>
                </label>
            </div>
            <div>
            <button type="submit">SUBMIT</button>
            </div>
            </form>
        </div>
        <h2 class="ttv"><em>
                <span class="span1">P</span>
                <span class="span2">O</span>
                <span class="span3">S</span>
                <span class="span4">T</span>
                <span class="span5">S</span>
          </em></h2>
        
        <% visitors.forEach(function(v) {%>
            <div class="visitor-content">
             
<div class="text2">      
        <h3><%=v.user.name%></h3>                 
        <h4 class="a1"><%=v.title%></h4>
        <p class="a2"><%=v.content%></p>


        <form action="/visitors/<%=v._id%>" method="POST">
            <div>
                <label>
                    <%if(user.id === v.user.id){%>
           <button><img src="/images/delete.png" alt="delete post">Delete Post</button>
           <%}%>
        </label>
            </div>
            </form>
                <%if(user.id === v.user.id){%>
        <form action="/visitors/<%=v._id%>/edit" method="POST">
            <div class="three">
                <label>
        <input type="text" name="editContent" placeholder="Edit Post Content: ">
                </label>
        <button><img src="/images/pencil-edit-button.png" alt="Edit post"></button>
            </div>
            <br>
            <br>
        
    </form>
    <%}%>

</div> 
<div class="text3">
        <%v.comment.forEach(function(c){%>
            <!-- <p><%=c.comment%></p> -->
            <%if(user.id === c.user.id){%>
            <form action="/visitors/<%=v._id%>/<%=c.id%>/delete" method="POST">
            <button class="btn-delete" type="submit"><img src="/images/delete (1).png" alt=""></button>
            </form>
            <%}%>
            <p>
            <span><%=c.user.name%> :</span> <%=c.comment%>
        </p>
            
            <%});%>
        
       
            

        <form action="/visitors/<%=v._id%>/comment" method="POST">
            <br>
            <div>
            <textarea name="comment" id="comment" cols="20" rows="10" placeholder="comment"></textarea>
            <br>
            <input type="submit" value="ADD COMMENT">
        </div>
        </form>
       <!-- <% visitors.forEach(function(vis, i){%>
        <p><%#=vis.comment[2].comment%></p>
        <p><%=i%></p>
        <%})%> -->
    </div>
</div>
<div class="between"><<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>></div>

        <%});%>

    </div>


        
</body>
</html>